<div class="galleries-container animated zoomIn">
  <div class="galleries">
  	<a href="#/galleries-carousel" class="galleries-card-link">
  		<img src="assets/zs1.jpg" alt="" class="galleries-card-img">
  		<p class="galleries-card-text galleries-card-text1">{{lang.galleriesBabyAndChild}}</p>
  	</a>
  	<a href="" class="galleries-card-link">
  		<img src="assets/zs1.jpg" alt="" class="galleries-card-img">
  		<p class="galleries-card-text galleries-card-text2">{{lang.galleriesMaternity}}</p>
  	</a>
  	<a href="" class="galleries-card-link">
  		<img src="assets/zs1.jpg" alt="" class="galleries-card-img">
  		<p class="galleries-card-text galleries-card-text3">{{lang.galleriesFamily}}</p>
  	</a>
  	<a href="" class="galleries-card-link">
  		<img src="assets/zs1.jpg" alt="" class="galleries-card-img">
  		<p class="galleries-card-text galleries-card-text4">{{lang.galleriesPortrait}}</p>
  	</a>
  	<a href="" class="galleries-card-link">
  		<img src="assets/zs1.jpg" alt="" class="galleries-card-img">
  		<p class="galleries-card-text galleries-card-text5">{{lang.galleriesNature}}</p>
  	</a>
  </div>
</div>
