.galleries-container {
  background: url(../background/trees.jpg) no-repeat top center;
  background-size: cover;
  min-height: 100%;

  @media screen and (min-width: 768px) {
    background-size: 100% 100%;
  }
}

.galleries {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  left: 50%;
  margin: 0 auto;
  max-width: 1010px;
  padding-top: 42px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    padding-top: 0;
  }
}

html.no-touchevents .galleries {
  top: 40%;
  transform: translateX(-50%);
}

.galleries-card-link {
  cursor: pointer;
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
  max-width: 130px;
  position: relative;
  transition: all .2s ease-in-out;
  width: 40%;

  @media screen and (min-width: 768px) {
    margin: 5px;
    max-width: unset;
    width: initial;
  }
}

html.no-touchevents .galleries-card-link:hover {
  transform: scale(.95);
}

.galleries-card-img {
  border-radius: 10px;
  display: block;
  height: auto;
  width: 100%;
}

.galleries-card-text {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  bottom: -10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  left: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  position: absolute;
  right: 0;
  text-align: center;
}

.galleries-card-text1 {
  background-color: rgba(81, 168, 42, .3);
}

.galleries-card-text2 {
  background-color: rgba(142, 102, 232, .3);
}

.galleries-card-text3 {
  background-color: rgba(242, 157, 9, .3);
}

.galleries-card-text4 {
  background-color: rgba(41, 187, 148, .3);
}

.galleries-card-text5 {
  background-color: rgba(255, 31, 52, .3);
}

/*GALLERIES CAROUSEL*/
.galleries-carousel-container-background-kids {
  background: rgba(159,208, 255, 1);
  background: linear-gradient(rgba(159,208, 255, 1), #000000);
  height: 100vh;
}

.galleries-carousel-container-background-maternity {
  background: rgba(242, 255, 155, 1);
  background: linear-gradient(rgba(242, 255, 155, 1), #000000);
  height: 100vh;
}

.galleries-carousel-container-background-stilllife {
  background: rgba(242, 157, 9, 1);
  background: linear-gradient(rgba(242, 157, 9, 1), #000000);
  height: 100vh;
}

.galleries-carousel-container-background-nature {
  background: rgba(149, 232, 168, 1);
  background: linear-gradient(rgba(149, 232, 168, 1), #000000);
  height: 100vh;
}

.galleries-carousel-container-background-england {
  background: rgba(219, 183, 110, 1);
  background: linear-gradient(rgba(219, 183, 110, 1), #000000);
  height: 100vh;
}

.carousel-container .container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.carousel {
  margin-top: 31px;

  @media screen and (min-width: 768px) {
    margin-top: 36px;
  }
}

.carousel-close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}

.carousel-inner .item .carousel-img {
  height: 66.9433vw;
  margin: auto;
  max-height: calc(100vh - 58px);
  width: auto;

  @media screen and (min-width: 768px) {
    height: calc(100vh - 58px);
    max-height: calc(66.9433vw);
  }
}

.galleries-copyright {
  font-size: 10px;
}

/*ANIMATION*/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

/*ANIMATION ZOOMIN*/
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

/*ANIMATION LOGO*/
@keyframes flip {
  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 360deg);
  }
}

@media screen and (min-width: 768px) {
  .animated.flip {
    animation-duration: 4s;
    animation-name: flip;
    backface-visibility: visible;
  }
}

/*ANIMATION PAGE FLIPPER*/
.animation-container {
  -webkit-perspective: 800;
  background-color: black;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.animation-card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1.5s;
  width: 100%;
}

.animation-front {
  backface-visibility: hidden;
  display: block;
  position: absolute;
  width: 100%;
}

.animation-back {
  backface-visibility: hidden;
  display: block;
  position: absolute;
  transform: rotateX(180deg);
  width: 100%;
}

.animation-card.animation-flipped {
  transform: rotateX(180deg);
}