.contact {
  background: url(assets/background/heart.jpg) no-repeat top center;
  background-size: cover;
  min-height: 100vh;

  @media screen and (min-width: 768px) {
    background-size: 100% 100%;
  }
}

.contact-result {
  margin: 0;
  padding: 15px;
}

.panel {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  opacity: 0.6;
  width: 80%;

  @media screen and (min-width: 768px) {
    width: 60%;
  }
}
