body {
  font-family: 'Pacifico', cursive;
}

/*NAVBAR*/
.navbar {
  opacity: 0.9;
}

.nav.navbar-nav.nav-brand {
  margin: 0;
}

.nav .nav-brand-link {
  padding: 0;
}

.nav-brand-img {
  height: 50px;
  padding: 5px;
}

.nav-flag {
  height: 24px;
}

.nav .nav-icon {
  display: table-cell;
}

@media screen and (min-width: 768px) {
  .nav li {
    transition: all .3s ease-in-out;
  }

  .nav li:hover {
    transform: scale(1.2);
  }
}

/*HOME*/
.home {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.home-text {
  font-family: 'Josefin Slab', serif;
}

.home-img-container {
  width: 25%;
}

.home-img-pic {
  width: 100%;
  height: 100%
}

.home-text {
  padding: 2px;
  width: 75%;
  padding-top: 55px;
  font-size: 9px;
}


@media screen and (min-width: 540px) {
  .home-text {
    font-size: 15px;
    padding: 80px 15px;
    width: 50%;
  }
  .home-img-container {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .home-img-container {
    width: 66%;
  }
}
@media screen and (min-width: 768px) {
  .home-text {
    padding: 100px 10px 0;
    width: 34%;
    font-size: 12px;
  }
}

@media screen and (min-width: 992px) {
  .home-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .home-text {
    font-size: 17px;
  }
}

/*CONTACT*/
.contact {
  background: url(../background/heart.jpg) no-repeat top center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .contact {
    background-size: 100% 100%;
    height: 638px;
  }
}

.contact-result {
  margin: 0;
  padding: 15px;
}

.panel {
  margin-top: 80px;
  opacity: 0.6;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .panel {
    width: 60%;
  }
}

/*GALLERIES*/
.galleries-container {
  background: url(../background/trees.jpg) no-repeat top center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .galleries-container {
    background-size: 100% 100%;
    height: 638px;
  }
}

.galleries {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 100px;
  max-width: 1010px;
}

@media screen and (min-width: 768px) {
  .galleries {
    flex-wrap: nowrap;
    padding-top: 280px;
  }
}

.galleries-card-link {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
  position: relative;
  transition: all .2s ease-in-out;
  width: calc(50% - 5px);
}

@media screen and (min-width: 768px) {
  .galleries-card-link {
    width: initial;
    margin: 5px;
  }
}

.galleries-card-link:hover {
  transform: scale(.95);
}

.galleries-card-img {
  display: block;
  height: auto;
  width: 100%;
  border-radius: 10px;
}

.galleries-card-text {
  bottom: -10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  left: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  position: absolute;
  right: 0;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.galleries-card-text1 {
  background-color: rgba(81, 168, 42, .3);

}

.galleries-card-text2 {
  background-color: rgba(142, 102, 232, .3);
}

.galleries-card-text3 {
  background-color: rgba(242, 157, 9, .3);
}

.galleries-card-text4 {
  background-color: rgba(41, 187, 148, .3);
}

.galleries-card-text5 {
  background-color: rgba(255, 31, 52, .3);
}

/*GALLERIES CAROUSEL*/
.galleries-carousel-container-background-kids {
  height: 100vh;
  background: rgba(159,208, 255, 1);
	background: -moz-linear-gradient(rgba(159,208, 255, 1), #000000);
	background: -o-linear-gradient(rgba(159,208, 255, 1), #000000);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(159,208, 255, 1)), to(#000000));
	background: -webkit-linear-gradient(rgba(159,208, 255, 1), #000000);
}

.galleries-carousel-container-background-maternity {
  height: 100vh;
  background: rgba(242, 255, 155, 1);
	background: -moz-linear-gradient(rgba(242, 255, 155, 1), #000000);
	background: -o-linear-gradient(rgba(242, 255, 155, 1), #000000);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(242, 255, 155, 1)), to(#000000));
	background: -webkit-linear-gradient(rgba(242, 255, 155, 1), #000000);
}

.galleries-carousel-container-background-stilllife {
  height: 100vh;
  background: rgba(242, 157, 9, 1);
	background: -moz-linear-gradient(rgba(242, 157, 9, 1), #000000);
	background: -o-linear-gradient(rgba(242, 157, 9, 1), #000000);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(242, 157, 9, 1)), to(#000000));
	background: -webkit-linear-gradient(rgba(242, 157, 9, 1), #000000);
}

.galleries-carousel-container-background-nature {
  height: 100vh;
  background: rgba(149, 232, 168, 1);
	background: -moz-linear-gradient(rgba(149, 232, 168, 1), #000000);
	background: -o-linear-gradient(rgba(149, 232, 168, 1), #000000);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(149, 232, 168, 1)), to(#000000));
	background: -webkit-linear-gradient(rgba(149, 232, 168, 1), #000000);
}

.galleries-carousel-container-background-england {
  height: 100vh;
  background: rgba(219, 183, 110, 1);
	background: -moz-linear-gradient(rgba(219, 183, 110, 1), #000000);
	background: -o-linear-gradient(rgba(219, 183, 110, 1), #000000);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(219, 183, 110, 1)), to(#000000));
	background: -webkit-linear-gradient(rgba(219, 183, 110, 1), #000000);
}

.carousel-container .container {
  padding: 0;
  margin: 0;
  width: 100%;
}

.carousel {
  margin-top: 31px;
}

@media screen and (min-width: 768px) {
  .carousel {
    margin-top: 36px;
  }
}

.carousel-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.carousel-inner .item .carousel-img {
  width: auto;
  height: 66.9433vw;
  max-height: calc(100vh - 58px);
  margin: auto;
}

@media screen and (min-width: 768px) {
  .carousel-inner .item .carousel-img {
    width: auto;
    height: calc(100vh - 58px);
    max-height: calc(66.9433vw);  }
}

.galleries-copyright {
  font-size: 10px;
}

/*ANIMATION*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/*ANIMATION ZOOMIN*/
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

/*ANIMATION LOGO*/
@-webkit-keyframes flip {
  to {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 360deg);
  }
}

@keyframes flip {
  to {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 360deg);
  }
}

@media screen and (min-width: 768px) {
  .animated.flip {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: flip;
    animation-name: flip;
  }
}

/*ANIMATION PAGE FLIPPER*/
.animation-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  -webkit-perspective: 800;
  background-color: black;
}

.animation-card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1.5s;
}

.animation-front {
  display: block;
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}

.animation-back {
  backface-visibility: hidden;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: hidden;
  display: block;
  position: absolute;
  width: 100%;
  -webkit-transform: rotateX(180deg);
}

.animation-card.animation-flipped {
  -webkit-transform: rotateX(180deg);
}
